.PlotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 4rem;
    padding: 0.5rem;
    border: none;
    width: 75%;
    height: 28rem;
}
